.DS_Store

# VSCode
.vscode

.idea/

*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
*.drawio

# CDK asset staging directory
.cdk.staging
cdk.out

# changed api-file
/sys-src/infrastructure/config/api_beerpongo_.json

# pytest coverage files
.coverage
