[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.24.1"
constructs = "<11.0.0,>=10.0.0"
pyyaml = "*"
"aws-cdk.aws-apigatewayv2-integrations-alpha" = "*"
"aws-cdk.aws-apigatewayv2-authorizers-alpha" = "*"
typing-extensions = "*"
awscliv2 = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
moto = "*"
mypy = "*"
types-pyyaml = "*"
pyproject-flake8 = "*"

[requires]
python_version = "3.9"
