[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
moto = "*"
typing-extensions = "*"
pyjwt = "*"
boto3-stubs = {extras = ["apigatewaymanagementapi", "dynamodb"], version = "*"}

[dev-packages]
moto = "*"
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pytest-shutil = "*"
pyproject-flake8 = "*"
mock = "*"
install = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
