.desk {
    background: #A80000;
    background: -moz-linear-gradient(top, #A80000 0%, #000000 50%, #000BA3 100%);
    background: -webkit-linear-gradient(top, #A80000 0%, #000000 50%, #000BA3 100%);
    background: linear-gradient(to bottom, #A80000 0%, #000000 50%, #000BA3 100%);
    border: 2px solid black;
    width: 45vh;
    height: 80vh;
    margin: auto;
    -webkit-box-shadow: 15px 25px 35px 10px #000000;
    box-shadow: 15px 25px 35px 10px #000000;
    transform: rotate(90deg);
}

.cup-grid {
    height: 50%;
}

.cup-grid-reverse {
    flex-direction: column-reverse;
    display: flex;
}
.cup-grid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cup1_unselected {
    border: 3px solid red;
    background-color: #fbbebe;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}
.cup1_unselected:hover {
    border: 3px solid #fbbebe;
    background-color: red;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup1_unselected_clicked {
    border: 3px solid #fbbebe;
    background-color: red;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup1_selected{
    border: 3px solid red;
    background-color: #000000;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup2_unselected {
    border: 3px solid blue;
    background-color: #a0b1ff;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup2_unselected:hover {
    border: 3px solid #a0b1ff;
    background-color: blue;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup2_unselected_clicked {
    border: 3px solid #a0b1ff;
    background-color: blue;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}

.cup2_selected{
    border: 3px solid blue;
    background-color: #000000;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}
